<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/choice.js"></script>
    
</head>
<body>
    <span> 학년</span>
    <select name="grade" id="grade">
        <option value="">선택</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select>
    <span> 학기</span>
    <select name="semester" id="semester">
        <option value="">선택</option>
        <option value="1">1</option>
        <option value="2">2</option>
    </select>
    <span> 중간/기말</span>
    <select name="midFinal" id="midFinal">
        <option value="">선택</option>
        <option value="mid">중간</option>
        <option value="final">기말</option>
    </select>
    <button onclick="teststart() ; location.href='home'">시작</button>
</body>
</html>