<!DOCTYPE html>
<html lang="en">

<head>
    <script src="face-api.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/home.js"></script>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="sidenav.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>

<body>
    <div class="sidenav">
       
    </div>

    <div class="main">
 
        <div style="position: absolute; width: 1260px; height: 880px;">
            <div style="background: chartreuse; margin-top: 50px; text-align: center;">
                <h1>Question 1</h1>
            </div>
            <div style="background: chartreuse; margin-top: 5px; width: 1260px; height: 300px; text-align: center;">
                <img id="question" src="1.png">
            </div>
            <p>This sidenav is always shown.</p>
        </div>
    </div>
    
</body>


</html>