<!DOCTYPE html>
<html>

<head>
    <script src="face-api.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/commons.js"></script>
    <script src="js/question_1.js"></script>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="circle_button_item.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>

<body>
    <div id="navbar"></div>
    <div class="center-content page-container width_full">
        <h4>나뭇잎의 수가 4인 것에 ○표 하시오.</h4>

        <div style="text-align: center;">
            <img src="4.png" class="width_full" id = "img">
        <div class="item" style="position: relative; left:12.5%; top:-87px"></div>
        <div class="item" style="position: relative; left:41.6%; top:-87px"></div>
        <div class="item" style="position: relative; left:71%; top:-87px"></div>
        </div>
    </div>
    

</body>

<script>

    $(document).ready(function () {
        renderNavBar('#navbar', 'question_4')
    })
</script>
</body>

</html>