<!DOCTYPE html>
<html>

<head>
    <script src="face-api.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/commons.js"></script>
    <script src="js/question_1.js"></script>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="circle_button_item.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>

<body>
    <div id="navbar"></div>
    <div class="center-content page-container width_full">
        <h4>수만큼 ○를 그려 보시오.</h4>

        <div style="text-align: center;">
            <img src="6.png" class="width_full" id = "img">
        <div class="item3" style="position: relative; left:29.27%; top:-189px"></div>
        <div class="item3" style="position: relative; left:33.02%; top:-189px"></div>
        <div class="item3" style="position: relative; left:36.77%; top:-189px"></div>
        <div class="item3" style="position: relative; left:40.47%; top:-189px"></div>
        <div class="item3" style="position: relative; left:44.17%; top:-189px"></div>
        <div class="item3" style="position: relative; left:47.87%; top:-189px"></div>
        </div>
    </div>
    

</body>

<script>

    $(document).ready(function () {
        renderNavBar('#navbar', 'question_6')
    })
</script>
</body>

</html>