<!DOCTYPE html>
<html>

<head>
    <script src="face-api.js"></script>
    <script src="js/commons.js"></script>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="circle_button_item.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>

<body>
    <div id="navbar"></div>
    <div class="center-content page-container width_full">
        <h4>그림의 수만큼 색칠하시오.</h4>

        <div class="width_full" style="background-image: url(1.png); background-size:cover;">
            <!-- <img src="1.png" class="width_full"> -->
            <div class="item" style="position: relative; left:5%; top:-10%"></div>
            <div class="item" style="position: relative; left:13%;"></div>
        </div>
    </div>
    
    

</body>

<script>

    $(document).ready(function () {
        renderNavBar('#navbar', 'question_1')
    })
</script>
</body>

</html>